
.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 450px;
}

.contact-left, .contact-right {
    width: 50%;
    background-color: #0c003d;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    height: 500px; 
}

.contact-left h3, .contact-right h3 {
    font-size: 1.8rem;
    color: cyan;
    margin-bottom: 10px;
}

.contact-left p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    word-break: break-word;
}



.contact-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.contact-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(12, 0, 61, 0.9);
    border-radius: 8px;
    padding: clamp(10px, 1.5vw, 20px);
    height: clamp(120px, 15vw, 250px);
    width: clamp(180px, 25vw, 250px);
    border: 2px solid cyan;
}

.info-box .icon {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    color: cyan;
    margin-bottom: 10px;
}

.info-box p {
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    color: white;
    line-height: 1.6;
}

.info-box a {
    text-decoration: none;
}

.social img {
    height: clamp(30px, 4vw, 40px);
    width: auto;
    margin: 10px;
}

.scroll{
    margin-top: 100px !important;
}
@media (max-width: 91.25rem) {
    .contact-section {
        margin-top: 550px;
    }
}
@media (max-width: 77.313rem) {
    .contact-section {
        margin-bottom: 550px !important;
    }
}
@media (max-width:64rem) {
    .contact-section {
        margin-top: 650px;
        margin-bottom: 350px !important;
    }
}
@media (max-width:51.625rem) {
    .contact-section {
        margin-top: 750px;
        padding:0 !important;
    }
}

@media (max-width: 768px) {
    
    .contact-section {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        gap: 20px;
    }

    .contact-left, .contact-right {
        width: 100%;
        padding: 20px;
        height: auto; 
    }

    .contact-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info-box {
        height: auto;
        padding: 15px;
        width:100%;
        height: 200px;
    }

    .info-box .icon {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .info-box p {
        font-size: 0.9rem;
    }
    .call, .social{ 
        margin-left: 0px;
    }
}



