*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0c003d;
}
.navbar .logo{
    z-index: 1000 !important;
    position: relative;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center ;
    gap:50px;
    flex-wrap: wrap;
}
.container .card{
    width:85%;
    height:80px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(12, 0, 61, 1);
    border-radius: 20px;
    overflow:hidden;
}


.container .card::before{
    content:'';
    position: absolute; 
    top: var(--y);
    left: var(--x);
    transform: translate(85%, -50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    width:600px;
    height:600px;
    opacity: 0;
    transition:0.5s, top 0s, left 0s;
}
.container .card:hover::before{
    opacity:1;
}
.container .card::after{
    content: '';
    position: absolute;
    inset:2px;
    border-radius: 18px;
    background: rgba(12, 0, 61, 0.85);
}
.navbar {
    position: absolute;
    top: 50px;
    left: 50%;
    background: #0c003d;
    border-radius: 10px;
    border: 1px solid #004C4C;
    height:80px;
    box-shadow: 0 4px 8px rgba(0, 76, 76, 0.1), 
                0 -4px 8px rgba(0, 76, 76, 0.1), 
                4px 0 8px rgba(0, 76, 76, 0.1), 
                -4px 0 8px rgba(0, 76, 76, 0.1);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.navbar a {
    color: inherit;
    text-decoration: none;
}



.navbar .logo {
    height: 70px;
    width:auto;
    padding:10px;
    padding-left:20px;
    z-index: 1000 !important;
}
.navbar a .logo{
    color:inherit !important;
    z-index: 10000 !important;
}
.navbar ul {
    display: flex;
    gap: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 130px;
    z-index: 5;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    z-index: 5;
}

.navbar li a:hover {
    color: #00ffff;
}
.navbar .quote-button {
    z-index: 5;
    color: #fff;
    padding: 8px 15px;
    padding-right: 50px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}

.navbar .quote-button:hover {
  
    color: #00ffff;
}



.title {
    position: absolute;
    top: 38%;
    left: 26.5%;
    transform: translate(-50%, -20%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 4.5rem;
    text-align: left;
    background: radial-gradient(
        circle,
        rgba(4, 0, 21, 0.8) 0%,
        rgba(4, 0, 21, 0.7) 20%,
        rgba(4, 0, 21, 0.5) 40%,
        rgba(4, 0, 21, 0.3) 60%,
        rgba(4, 0, 21, 0.1) 80%,
        rgba(4, 0, 21, 0) 100%
    );
    padding: 40px 20px;
    border-radius: 10px;
    z-index: 3;
    width:660px;
}

.title u{
    text-decoration-color:#00ffff;
    font-size: 5.2rem;
}
h2{
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -20%);
    color: #00ffff;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    text-align: left;
    width:1250px;
    padding: 40px 0px;
    border-radius: 10px;
    z-index: 3;
}

.gradient-transition {
    position: absolute;
    top: 600px;
    left: 0;
    width: 100%;
    height: 430px;
    background: linear-gradient(
        to bottom,
        rgba(12, 0, 61, 0) 0%,
        rgba(12, 0, 61, 0.2) 20%,
        rgba(12, 0, 61, 0.4) 40%,
        rgba(12, 0, 61, 0.8) 60%,
        rgba(12, 0, 61, 1) 70%,
        #0c003d 80%,
        #0c003d 100%
  
    );
    z-index: 2;
    pointer-events: none;
}

.our-work2{
    display:none;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
    }

    
    div .what-we-do{
        padding-top:0;
        margin-top: 0;
    }

    .row {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .row1{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }
    .service1 {
        max-width: 90%;
        padding: 20px;
    }

    .service {
        max-width: 90%;
        text-align: center;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }

    .about-content {
        text-align: center;
        margin-bottom: 200px;
    }

    .about-steps {
        flex-direction: column;
        gap: 40px;
    }

    .arrow {
        transform: rotate(90deg) !important;
        display: block;
        margin: 0 auto;
    }

    .our-work2 {
        gap: 0px;
        margin-top:1500px;
        display: block;
    }
    .our-work{
        display:none;
    }

    .work-item {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .work-image {
        width: 90%;
        height: auto;
    }

    .work-text {
        width: 90%;
    }

}
/**/
