
.about, .skills {
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
    background: #0c003d;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:500px;


}
.skills {
    margin-bottom: 400px !important;
}

h2, h3{
    margin-bottom: 1rem;
    color:#fff;
}
h3{
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    color:#0ff;
}
h2{
    text-align: center;
    margin-bottom: 100px;
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 300;
}
h2 span{
    border-bottom: 1px solid #0ff;
}
h4{
    color:#fff;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    font-weight: 300;
    margin-bottom: 30px;
}


#skills {
    max-width: 1400px;
    margin: 3rem auto;
    padding: 2rem;
    background: #0c003d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.skill-category {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
}

.skill-box {
    background: #0c003d;
    color: white;
    border:1px solid #0ff;
    padding: clamp(0.5rem, 2vw + 1rem, 1rem) clamp(1rem, 4vw + 2rem, 4rem);
    border-radius: 10px;
    font-size: clamp(1rem, 5vw, 1.5rem);
    text-align: center;
    flex: 1 1 calc(14% - 1rem);
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.4);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s linear, opacity 2s linear;
}
.skill-box.visible {
    opacity: 1;
    transform: translateX(0);
}
.skill-box::after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #0ff;
    color: white;
    padding: 0.5rem;
    font-size: clamp(1rem, 5vw, 1.3rem);
    white-space: nowrap;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    pointer-events: none;
    box-shadow: 0 8px 40px rgba(0, 255, 255, 0.4);
}

.skill-box:hover {
    transform: scale(1.1);
    background: #0ff;
}
@media only screen and (max-width: 91.25rem){
    .skills{
        margin-left:20px;
    }
}
@media only screen and (max-width: 84.375rem){
    .skills{
        margin-top:600px;
    }
}
@media only screen and (max-width: 64rem){
    .skills{
        margin-top:500px;
    }
}
@media only screen and (max-width: 48rem){
    h2{
        font-size: clamp(2rem, 8vw, 4rem) !important;
        text-align: left !important;
        margin-left: 0 !important;
        margin-bottom: 20px;
    }
    .skills{
        margin-left:10px;
        margin-right: 10px;
    }
}
